<!DOCTYPE html>
<html ng-app="App">

<head>
	<script src='node_modules/angular/angular.js'></script>
	<script src='dist/dist.js'></script>
	
	<link href='dist/style.css' rel='stylesheet' type='text/css'/>
</head>

<body ng-controller="CalcCtrl">
	<!-- to do:
	operations - +, -, /, *, %
	input: +/-, 0-9, .
	control: C, =
	 -->
<div class='calculatorContainer'>

	<div class='inputBuffer'> 
		<span>{{inputBuffer.sign}}</span> {{inputBuffer.getDisplayBuffer()}} 
	</div>

	<div class='inputs'>

		<div class='miscellaneousCtrls'>
			<div class='button' ng-click='inputBuffer.clear()'>
				C
			</div>

			<div class='button' ng-click='inputBuffer.invertSign()'>
				+/-
			</div>

			<div class='button'>
				%
			</div>
		</div>

		<div class='numericInputs'>
			<div class='button' ng-click="inputBuffer.append(num)" ng-repeat='num in [1,2,3,4,5,6,7,8,9]'>
				{{num}}
			</div>
		
			<div class='button-wide' ng-click="inputBuffer.append('0')">
				0
			</div>	
	
			<div class='button' ng-click="inputBuffer.append('.')">
				.
			</div>
		</div>
	
		<div class='basicOperations'>
			<div
				class='button'
				ng-repeat="op in ['+', '-', '/', '*']"
				ng-click='inputBuffer.setOperator(op)'
				ng-class="{ active: inputBuffer.operator === op}">
				{{op}}
			</div>
			<div class='button' ng-click='inputBuffer.evaluate()'>=</div>
		</div>
	</div>

</div>
