<!DOCTYPE html>
<html>

<head>
	<script src='node_modules/angular/angular.js'></script>
	<script src='dist/dist.js'></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href='dist/style.css' rel='stylesheet' type='text/css'/>
</head>

<body>
<div class='web-calc-container' ng-controller="CalcCtrl" ng-app="WebCalc">
	<div class='web-calc-display-container'>
		<div class='web-calc-display-buffer'>{{inputBuffer.getDisplayBuffer()}} </div>
	</div>

	<div class='web-calc-inputs'>

		<div class='web-calc-misc'>
			<div class='web-calc-button' ng-click='inputBuffer.invertSign()'> +/- </div>
			<div class='web-calc-button-wide' ng-click='inputBuffer.clear()'> C </div>
		</div>

		<div class='web-calc-numeric'>
			<div class='web-calc-button'
				ng-click="inputBuffer.append(num.toString())"
				ng-repeat='num in [1,2,3,4,5,6,7,8,9]'>
				{{num}}
			</div>
			<div class='web-calc-button-wide' ng-click="inputBuffer.append('0')"> 0 </div>
			<div class='web-calc-button' ng-click="inputBuffer.append('.')"> . </div>
		</div>
	
		<div class='web-calc-basic-operations'>
			<div class='web-calc-button'
				ng-click='inputBuffer.setOperator("/")'
				ng-class="{ active: inputBuffer.operator === '/'}">
				&divide;
			</div>
			<div class='web-calc-button'
				ng-click='inputBuffer.setOperator("*")'
				ng-class="{ active: inputBuffer.operator === '*'}">
				&times;
			</div>
			<div class='web-calc-button'
				ng-click='inputBuffer.setOperator("-")'
				ng-class="{ active: inputBuffer.operator === '-'}">
				-
			</div>
			<div class='web-calc-button'
				ng-click='inputBuffer.setOperator("+")'
				ng-class="{ active: inputBuffer.operator === '+'}">
				+
			</div>
			<div class='web-calc-button' ng-click='inputBuffer.evaluate()'> = </div>
		</div>
	</div>
</div>
</body>
</html>