.inputs
	box-sizing: border-box

	div
		box-sizing: border-box

	position: relative

	width : 400px
	height: 500px

	background-color: lightgray

	.numericInputs
		left: 0
		bottom: 0
		width: 75%
		height: 80%

	.miscellaneousCtrls
		top: 0
		left: 0
		height: 20%
		width: 75%
		background-color: darkgray

	.basicOperations
		position: absolute
		top: 0
		right: 0
		width : 25%
		height: 100%
		background-color: orange

	.button, .button0
		border: 1px
		border-color: black
		border-style: solid
		height: 100px
		line-height: 100px

	.button
		text-align: center
		width: 100px
		float: right

	.button0
		width: 200px
		float: left
