.calculatorContainer
	font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif
	font-weight: 300
	font-size: 30px

	width: 400px
	div 
		box-sizing:border-box


.displayContainer
	width: 400px
	height: 100px
	position: relative

	.displayBuffer
		font-size: 60px
		text-align: right
		position: absolute
		bottom: 0
		right: 0

.inputs
	position: relative

	width : 400px
	height: 500px

	background-color: lightgray

	*
		-webkit-user-select: none

	.numericInputs
		left: 0
		bottom: 0
		width: 75%
		height: 80%

	.miscellaneousCtrls
		top: 0
		left: 0
		height: 20%
		width: 75%
		background-color: darkgray

	.basicOperations
		position: absolute
		top: 0
		right: 0
		width : 25%
		height: 100%
		background-color: orange

	.button, .button-wide
		border: 1px
		border-color: black
		border-style: solid
		height: 100px
		line-height: 100px
		
	.active, .button:active, .button-wide:active
		box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset

	.button
		text-align: center
		width: 100px
		float: right

	.button-wide
		width: 200px
		float: left
